// dimensions
$button_height: 35px;
$font_size: 14px;
$button_border_radius: 4px;
$checkbox_radio_button_height_width: 14px;


// COLORS
$link_color: #118799;
$font_color: #53565A;
$mandatory_color: #1AC49F;
$light_color_text: #83878C;
$placeholder_color: #C1C1C1;
$border_color: #CFDDE6;

// table colors
$table_border_color: #E7E9EA;
$table_header_bg_color: #FAF9FB;


// button colors
$button_primary_top_color: #379392;
$button_primary_bottom_color: #2B7272;
$button_secondary_bottom_color: #E5F2F4;

// tab colors - font, bg and border
$active_tab_color: #ED8B00;
$inactive_tab_bg_color: #E5EAEF;
$inactive_tab_color: #74797D;
$inactive_tab_border_color: #D0DDE6;

