/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";
@import "./theme/variables";


* {
    box-sizing: border-box;
    outline: none !important;
}

body, html {
    font-family: Roboto, sans-serif !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: $font_size !important;
    color: $font_color !important;
    margin: 0;
}



// button css
.button-primary {
    padding: 7px 20px;
    height: $button_height;
    background: linear-gradient(360deg, $button_primary_bottom_color 51.79%, $button_primary_top_color 51.93%), white;
    border: none;
    border-radius: $button_border_radius;
    color: white;
    .fa {
        color: white;
        margin-right: 5px;
        font-size: 15px;
    }
}

.button-secondary {
    padding: 7px 20px;
    height: $button_height;
    background: linear-gradient(360deg, $button_secondary_bottom_color 51.79%, white 51.93%), white;
    border: 1px solid $link_color;
    border-radius: $button_border_radius;
    color: $link_color;
    .fa {
        color: $link_color;
        margin-right: 5px;
        font-size: 15px;
    }
}

.light-text {
    color: $light_color_text;
}

::placeholder {
    color: $placeholder_color;
}


// checkbox button
.custom-checkbox-button {
    input {
        display: none;
    }
    span {
        height: $checkbox_radio_button_height_width;
        width: $checkbox_radio_button_height_width;
        margin-right: 5px;
        border: 1px solid $border_color;
        display: inline-block;
        position: relative;
    }
}

[type=checkbox]:checked + span:before {
    content: '\2714';
    position: absolute;
    color: $active_tab_color;
    top: -3px;
    left: 1px;
    font-size: 12px;
}

// radio button
.custom-radio-button {
    display: block;
    position: relative;
    cursor: pointer;
    input {
        display: none;
    }
    span {
        height: $checkbox_radio_button_height_width;
        width: $checkbox_radio_button_height_width;
        margin-right: 5px;
        border: 1px solid $border_color;
        position: relative;
        background-color: white;
        border-radius: 50%;
        // &:after {
            
        // }
    }
  }

  [type=radio]:checked + span:before  {
    display: block;
    content: "";
            position: absolute;
            top: 3px;
            left: 3px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #ED8B00;
}


// NAVIGATION CSS
.navbar-nav {
    height: 40px;
}

.collapse.navbar-collapse {
    border-bottom: 1px solid $inactive_tab_border_color;
}
.nav-link{
    padding: 11px 20px !important;
    background-color: $inactive_tab_bg_color;
    color: $inactive_tab_color;
    margin-right: 8px;
    border-left: 1px solid $inactive_tab_border_color;
    border-right: 1px solid $inactive_tab_border_color;
    border-top: 1px solid $inactive_tab_border_color;
    &:hover {
        color: $inactive_tab_color;
    }
}

.active {
    background: white !important;
    color: $active_tab_color !important;
    font-weight: bold !important;
    border-bottom: none;
    height: 41px;
    cursor: default;
}



// DATE PICKER
.date-picker {
    height: 35px;
    border: 1px solid $border_color;
    input {
        border: none;
    }
    .fa {
        font-size: 20px;
        color: $link_color;
    }
}
